[submodule "docs/wayland-book"]
	path = docs/wayland-book
	url = https://git.sr.ht/~sircmpwn/wayland-book
[submodule "lib/odin-wayland"]
	path = lib/odin-wayland
	url = https://github.com/yasinkaraaslan/odin-wayland
